<body bgcolor="#000000">
 <h1 class="h1 text-dark"> Business Intelligence</h1>
 <p class="text-dark pb-4"><strong>Business intelligence is a vital process in which organizations use a combination of 
     strategies and technologies that would help with the analysis of the business current and past data. The importance of these data analytics will not only help make more effective and 
     efficient business decisions but also allow the prediction of any future challenges that may affect the flow of the business.
     <br /> Therefore, allowing business to make improved strategic decisions that put them in a more advantageous position to complete in their market. 
 </strong></p>
 </body>

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h1 class="featurette-heading fw-normal lh-1">What is Business Intelligence?</h1>
        <p class="lead"><strong>Using tried an tested data analytics and visualisation tools we can help you to understand your business and unlock unseen insights to become a data driven company and lead into a digital future.</strong></p>
         <ul type="dot">  
              <li><strong>Data collection -</strong> Extract, transform, and load (ETL) is the BI method tool used to gather all the company data collected from multiple sources. Such data are stored in a centralized location called a data warehouse for easy data management and analysis. </li>
              <li><strong>Data analysis -</strong> Data mining is accomplished using data management tools that provide insights to the patterns and outliers found within the company data allowing in depth data exploration and predicting future trends. </li>
              <li> <strong>Data visualizations -</strong> For ease of understanding and sharing, BI reports contain data visualizations (such as charts, maps, and graphs) that are interactive to provide quick and easy to understand data analysis.<br />
              The fourth step can then be implemented. </li>
              <li> <strong>Data-driven decision making -</strong> By viewing and understanding the BI report, companies can compare current and historical data to make strategic data driven decisions that can help with adapting to any changes within the market/financing industry, resolve problems with customers, anything that can help with the growth and reputation of the business. </li>
        </ul>  
      </div>
      <div class="col-md-5 order-md-1">
        <img src="https://i0.wp.com/seerbi.uk/wp-content/uploads/2021/12/stephen-dawson-qwtCeJ5cLYs-unsplash-scaled.jpg?resize=1536%2C1105&ssl=1" width="500" height="500" alt="image" />
        
      </div>
    </div><br /> <br />

    

    <div class="row featurette">
      <div class="col-md-7">
    
        <h2 class="featurette-heading fw-normal lh-1">Data Dashboards</h2>
        <p class="lead"><strong>By ingesting and understanding your data we can help to unlock your future through interactive visualization techniques built bespoke around your companies KPIs Business intelligence gives organizations the ability to ask questions in plain language and get answers they can understand. Instead of using best guesses, they can base decisions on what their business data is telling them — whether it relates to production, supply chain, customers or market trends.<br />
         Checkout this example dashboard we have developed using publically available data from across the internet:</strong></p>
      </div>
      <div >
        <img src="https://i0.wp.com/seerbi.uk/wp-content/uploads/2021/10/fatos-bytyqi-Agx5_TLsIf4-unsplash-scaled.jpg?resize=1536%2C1024&ssl=1" width="1275" height="700" alt="image" /><br /><br />
      </div><br /> <br />
       <p class="lead"><strong>The above dashboard analyses data from ships coming into port in Tees Port. We are able to analyse the data multiple ways such as:</strong></p>
       <div class="lead">
           <ul type="dot">  
              <li>The count of ships per day</li>
              <li>The origin of ships on a map </li>
              <li>Agents who the ships are assigned to </li>
              <li>The number of tugs used </li>     
           </ul>
       <p class="lead"><strong>Dashboards like these can be used to drive decisions and spot patterns in data that could not be identified otherwise. </strong></p><br />
        <div >
        <img src="https://i0.wp.com/seerbi.uk/wp-content/uploads/2021/10/fatos-bytyqi-Agx5_TLsIf4-unsplash-scaled.jpg?resize=1536%2C1024&ssl=1" width="1275" height="700" alt="image" /><br />

      </div>
       </div>
    </div><br /> <br />

  

  

 <footer>
     <div>
      <img src="https://i0.wp.com/seerbi.uk/wp-content/uploads/2021/10/Logo-2-Light2.png?resize=165%2C93&ssl=1" /> 
     </div><br />
  <p>Victoria House, Victoria Road, Middlesbrough, UK</p>
  <p>+447928510731</p>
  <p>info@seerbi.uk</p>
  <div>
     <a href="https://localhost:7172/Home/Index" target="_blank">Home</a><br />
     <a href="https://localhost:7172/BusinessIntelligence/Index" target="_blank">Business Intelligence</a><br />
     <a href="https://localhost:7172/Home/Index" target="_blank">Machine Learning</a><br />
     <a href="https://localhost:7172/Home/Index" target="_blank">Computer Vision</a><br />
     <a href="https://localhost:7172/Home/Index" target="_blank">Natural Language Processing (NLP)</a><br />
     <a href="https://localhost:7172/News/Index" target="_blank">News</a><br />   
 </div>
 <div>
     <a href="https://www.nvidia.com/en-gb/" target="_blank"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmCS_rRaaV2iNoi4ygd3AOm7okA7JIEliFuIsT6qvP9Q&s" width="250" height="150" alt="image"/></a>
     <a href="https://www.microsoftpartnercommunity.com/" target="_blank"><img src="https://partner.microsoft.com/-/media/mssc/mpn/partner/marketing/badge.ashx?h=433&iar=0&w=650&la=en&hash=3A975F567D22971AE8C1231FDB26A901" width="250" height="150" alt="image"/></a>
 </div>
</footer>
    
  