
@{
    ViewData["Title"] = "Index";
}

<div class="rounded-3 px-md-5 text-center text-xl-start" style="background-color: #000000;">
 <h1 class="h1 text-light">We Save Organisations Time And Money Using Award Winning Data SCience</h1>
 <p class="text-light pb-4">Providing Busines Intellience, machine Learning, Artificial Intellience & Agile Development methods to create actionable solutions, and make industry more efficient with an award winning team.</p>
 <div class="d-flex flex-wrap justify-content-center justify-content-xl-start"><a class="btn-market btn-apple me-2 mb-2" href="#" role="button"><span class="btn-market-subtitle">Download on the</span><span class="btn-market-title">App Store</span></a><a class="btn-market btn-google mb-2" href="#" role="button"><span class="btn-market-subtitle">Download on the</span><span class="btn-market-title">Google Play</span></a></div>
 <div><img src="img/grocery/slider/slide01.jpg" alt="Image"></div>
 </div>


    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
         <p1><strong>DATA DASHBOARDS</strong></p1>
        <h1 class="featurette-heading fw-normal lh-1">Visuualise your business with our dashboards.</h1>
        <p class="lead">Using tried an tested data analytics and visualisation tools we can help you to understand your business and unlock unseen insights to become a data driven company and lead into a digital future.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
        
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
          <p1><strong>MACHINE LEARNING</strong></p1>
        <h2 class="featurette-heading fw-normal lh-1">Use your data for much more.</h2>
        <p class="lead">By applying AI & Machine Learning methods we can help unlock your data with computer vision , natural language processing and predicion techniques.</p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div>
          <p1><strong>MARITIME</strong></p1>
        <h2 class="featurette-heading fw-normal lh-1">We are maritime data specialists.</h2>
        <p class="lead">We work with ports and shipping agents across the UK to make data integration seamless for faster decisons, higher efficiency and smarter ports. We also have ongoing machine learning research to achieve Net Zero in Maritime.</p>
      </div>
     
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
          <p1><strong>MULTI PLATFORM DEVELOPEMENT</strong></p1>
        <h2 class="featurette-heading fw-normal lh-1">Your data delivered on an interactive format.</h2>
        <p class="lead">We supply customs and bespoke mobile and applications for your machine learning  & artificial intelligence models in an easy to use an fully customisable environment.</p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>

      </div>
    </div>
    </div>