
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="row featurette">
      <div>
          <p1><strong>MARITIME</strong></p1>
        <h2 class="featurette-heading fw-normal lh-1">We are maritime data specialists.</h2>
        <p class="lead"><strong>We work with ports and shipping agents across the UK to make data integration seamless for faster decisons, higher efficiency and smarter ports. We also have ongoing machine learning research to achieve Net Zero in Maritime.</strong></p>
         <p><a class="btn btn-lg btn-primary" href="#">Net Zero In Maritime</a></p>
      </div>
      </div>