
@{
    ViewData["Title"] = "Index";
}



<div class="row featurette">
      <div>
   
        <h2 style="margin-left:10em;margin-right:10em;">SeerBI to Develop New Advances in Machine Learning for the Maritime Industry to Achieve Net Zero</h2>
        <p style="margin-left:20em;margin-right:20em;">Teesside University is working with SeerBI, an award-winning data science company based in the Launchpad in Victoria Building, Teesside University. <br />
            The Net Zero Industry Innovation Campus (NZIIC) run by Teesside University, and funded by the European Regional Development Fund (ERDF)*, aims to support Tees Valley SMEs to develop net zero capabilities and opportunities. <br />
The project seeks to develop novel machine learning solutions to the emissions crisis the maritime sector currently faces. These solutions will be aimed at decreasing the harmful CO2 emissions put out by ports worldwide through better analysis methods along with innovative prediction and prevention technology. The solutions will be in line with the UK governments Maritime 2050 strategy that aims to make the UK a global leader in the maritime sector and promote clean maritime growth.</p>
       
      </div>
      </div>
      <div class="slideshow-container">

<div class="mySlides">
  <div class="numbertext">1 / 3</div>
  <img src="https://i0.wp.com/seerbi.uk/wp-content/uploads/2021/12/stephen-dawson-qwtCeJ5cLYs-unsplash-scaled.jpg?fit=1024%2C737&ssl=1" style="width:100%">

</div>

<div class="mySlides">
  <div class="numbertext">2 / 3</div>
  <img src="https://i0.wp.com/seerbi.uk/wp-content/uploads/2022/04/112-large-eba1b33bd4ffd336bd3f84bc34679494.jpg?fit=1000%2C700&ssl=1" style="width:100%">
 
</div>

<div class="mySlides">
  <div class="numbertext">3 / 3</div>
  <img src="https://i0.wp.com/seerbi.uk/wp-content/uploads/2022/03/Untitled-design.png?fit=1024%2C576&ssl=1" style="width:100%">

</div>

</div>
<br>

<div style="text-align:center">
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
</div>

<script>
let slideIndex = 0;
showSlides();

function showSlides() {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  let dots = document.getElementsByClassName("dot");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";  
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}    
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
  setTimeout(showSlides, 3000); // Change image every 3 seconds
}
</script>
 <p style="margin-left:20em;margin-right:20em;">SeerBI is an award-winning data science company currently focused on the transport sector, specifically maritime. They provide data science services ranging from data visualisation to bespoke machine learning and AI development for maritime operators. After founding in October 2021, they quickly found traction and opportunities working with Northeast based maritime operators and partnering with global tech companies including NVIDIA via their inception programme. <br />
 
The project will be achieved via a research collaboration between the team at SeerBI and academics and researchers at Teesside University working with real industry data to develop the innovative research. The project will work with UK maritime stakeholders to test and develop the research as the project progresses. SeerBI will then seek external funding to take the project forward from the research into a real-world application to be applied in ports around the globe.</p>
<div style="margin-left:20em;margin-right:20em;">
  <img src="https://i0.wp.com/seerbi.uk/wp-content/uploads/2022/05/258.jpg?w=950&ssl=1" style="width:100%">
</div>
<p style="margin-left:20em;margin-right:20em;">“We are very excited to begin this research opportunity with Teesside University and do our part in making Net Zero in maritime a reality, a goal our entire team is excited about. The value of machine learning and analytic capabilities have already been well researched and applied in manufacturing and many engineering disciplines, but it is maritime’s turn to take the stage”</p>
<div style="margin-left:20em;margin-right:20em;">
    <header class="display: d-inline-block; width: auto;">
    <h2>Owain Brennan, Managing Director</h2>
     <a href="https://www.twitter.com" target="_blank"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdQWj-ZwDEcGFtiOveMRcEEO_CZfjxKIR9IXkl1a9FuA&s" width="60" height="60" alt="image" /></a> <br />
     </header>
 </div><br /> 
 
 <p style="margin-left:20em;margin-right:20em;">The collaboration will output novel machine learning algorithms and data analysis methods focused on the analysis and prediction of CO2 output specifically in ports. This analysis and prediction will serve to help ports better understand their environmental impact and what they can do to prevent future damage. <br />
 
If you are an SME in the Tees Valley who would like to get involved in the Net Zero Industry Innovation Campus, please contact: Glen Kelly glen.kelly@tees.ac.uk  <br />
 
This project is part-funded by the European Regional Development Fund as part of the European Structural and Investment Funds Growth Programme 2014-2020 <br /><hr />

</p>
<div style="margin-left:34em;margin-right:34em;">
     <a href="https://www.facebook.com" target="_blank"><img src="https://blog-assets.hootsuite.com/wp-content/uploads/2018/09/f-ogo_RGB_HEX-58.png" alt="image"/></a>
     <a href="https://www.twitter.com" target="_blank"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdQWj-ZwDEcGFtiOveMRcEEO_CZfjxKIR9IXkl1a9FuA&s" width="60" height="60" alt="image" /></a>
     <a href="https://www.linkedin.com" target="_blank"><img src="https://blog-assets.hootsuite.com/wp-content/uploads/2018/09/In-2C-54px-R.png" alt="image"/></a><br />
 </div><br />

  <footer>
     <div>
      <img src="https://i0.wp.com/seerbi.uk/wp-content/uploads/2021/10/Logo-2-Light2.png?resize=165%2C93&ssl=1" /> 
     </div><br />
  <p>Victoria House, Victoria Road, Middlesbrough, UK</p>
  <p>+447928510731</p>
  <p>info@seerbi.uk</p>
  <div>
     <a href="https://localhost:7172/Home/Index">Home</a><br />
     <a href="https://localhost:7172/Business_Intelligence/Index">Business Intelligence</a><br />
     <a href="https://localhost:7172/Machine_Learning/Index">Machine Learning</a><br />
     <a href="https://localhost:7172/Machine_Learning/ComputerVision">Computer Vision</a><br />
     <a href="https://localhost:7172/Machine_Learning/NLP">Natural Language Processing (NLP)</a><br />
     <a href="https://localhost:7172/News/Index">News</a><br />  
 </div>
 <div>
     <a href="https://www.nvidia.com/en-gb/" target="_blank"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmCS_rRaaV2iNoi4ygd3AOm7okA7JIEliFuIsT6qvP9Q&s" width="250" height="150" alt="image"/></a>
     <a href="https://www.microsoftpartnercommunity.com/" target="_blank"><img src="https://partner.microsoft.com/-/media/mssc/mpn/partner/marketing/badge.ashx?h=433&iar=0&w=650&la=en&hash=3A975F567D22971AE8C1231FDB26A901" width="250" height="150" alt="image"/></a>
 </div>
</footer>
    

