
@{
    ViewData["Title"] = "ComputerVision";
}

 <body bgcolor="#000000">
 <h1 class="h1 text-dark">Computer Vision</h1>
 <p class="text-dark pb-4"><strong>Computer vision is a branch of artificial intelligence (AI) that enables computers and systems to extract useful information from digital photos, videos, and other visual inputs and to execute actions or make recommendations based on that information. If AI gives computers the ability to think, computer vision gives them the ability to see, observe, and comprehend.</strong></p>
 <div>
      <p><a class="btn btn-secondary" href="https://localhost:7172/Home/privacy">Unlock Your Data</a></p>
     <a href="https://www.nvidia.com/en-gb/" target="_blank"><img src="https://i0.wp.com/seerbi.uk/wp-content/uploads/2022/01/nvidia-inception-program-badge-rgb-for-screen.png?resize=300%2C132&ssl=1"width="400" height="200" alt="image" /></a>
 </div><br /><br />
 <div>
     <a href="https://www.facebook.com" target="_blank"><img src="https://blog-assets.hootsuite.com/wp-content/uploads/2018/09/f-ogo_RGB_HEX-58.png" alt="image"/></a>
     <a href="https://www.twitter.com" target="_blank"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdQWj-ZwDEcGFtiOveMRcEEO_CZfjxKIR9IXkl1a9FuA&s" width="60" height="60" alt="image" /></a>
     <a href="https://www.linkedin.com" target="_blank"><img src="https://blog-assets.hootsuite.com/wp-content/uploads/2018/09/In-2C-54px-R.png" alt="image"/></a>
 </div><br />
 </body>


  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Computer Vision For Every Use Case</h1>
      </div>
 <div id="videoal">
<table>
<tr>
  <td>
  <video width="300" height="300" autoplay muted>
    <source src="https://seerbi.uk/wp-content/uploads/2022/02/scan12_dashccam_dcf_.mp4" type="video/mp4"> 
  </video>
  </td>
  <td>
  <video width="300" height="300" autoplay muted>
    <source src="https://seerbi.uk/wp-content/uploads/2022/02/out-bodypose2d-dancing_720p_Trim_meetup.mp4" type="video/mp4">
  </video>
  </td>
  <td>
  <video width="300" height="300" autoplay muted>
    <source src="https://seerbi.uk/wp-content/uploads/2022/02/People_new_720p.mp4" type="video/mp4">
  </video>
  </td>
  <td>
  <video width="300" height="300" autoplay muted>
    <source src="https://seerbi.uk/wp-content/uploads/2022/02/landmarks_720p.mp4#t=0.2" type="video/mp4">
  </video>
  </td>
  </tr>
  </table>
</div>


    <div class="row featurette">
      <div class="col-md-7 order-md-2">
         <p1><strong>THE TECHNOLOGY THAT SEES THE WORLD</strong></p1>
        <h1 class="featurette-heading fw-normal lh-1">How Does Computer Vision Work?</h1>
        <p class="lead"><strong>A lot of data is required for computer vision. It repeatedly executes analyses of the data until it can distinguish between things and recognise images. To teach a computer to recognise automotive tyres, for example, enormous volumes of tyre photos and tire-related materials must be supplied to it in order for it to learn the differences and recognise a tyre,
            particularly one with no faults.<br />This is done using two key technologies: convolutional neural networks (CNN) and deep learning, both branches of machine learning.</strong></p>
   
      </div>
    <video class="col-md-5 order-md-1" width="400" height="400" autoplay muted>
          <source src="https://seerbi.uk/wp-content/uploads/2022/02/People_new_720p.mp4" type="video/ogg">
     </video>
    </div><br /> <br />

    

    <div class="row featurette">
      <div class="col-md-7">
          <p1><strong>HOW DO WE USE IT</strong></p1>
       <h1 class="featurette-heading fw-normal lh-1">Applying Computer Vision</h1>
       <p class="lead"><strong>The topic of computer vision is undergoing a lot of research, but it goes beyond that. Applications in real-world settings show how crucial computer vision is to activities in business, entertainment, transportation, healthcare, and daily living. The influx of visual data coming from smartphones, security systems, traffic cameras, and other visually instrumented devices 
            is a major factor in the expansion of these applications.<br />Although it isn’t currently used, this data might be very important to operations in many different businesses. The data establishes a training ground for computer vision software and a starting point for their integration into a variety of human endeavours.</strong></p>
          
      </div>
      <div class="col-md-5">
        <img src="https://i0.wp.com/seerbi.uk/wp-content/uploads/2022/09/shipdetected.png?resize=1536%2C819&ssl=1" width="600" height="400" alt="image" />

      </div>
    </div><br /> <br />

  

   <div class="row featurette">
      <div class="col-md-7 order-md-2">
         <p1><strong>MACHINE LEARNING OPERATIONS</strong></p1>
        <h1 class="featurette-heading fw-normal lh-1">Deploying Computer Vision</h1>
        <p class="lead"><strong>There are many ways that you can deploy computer vision models that will be different for your use case. Whether you want continuous real time analysis from CCTV, Computer vision via a mobile application, or edge device deployment you need to make sure you are deploying correctly.<br />
            We work with cloud and hardware providers like Amazon, NVIDIA, Google, and Microsoft to ensure your models are deployed and run with maximum efficiency.</strong></p>
         <ul type="dot">  
              <li><strong>Real Time Computer Visions</strong>  </li>
              <li><strong>API Computer Vision Infrence</strong>  </li>
              <li> <strong>Edge Device Deployment</strong> </li>
        </ul>
      </div>

       <div class="col-md-5 order-md-1">
        <img src="https://i0.wp.com/seerbi.uk/wp-content/uploads/2022/09/drive-labs.jpg?resize=1024%2C576&ssl=1" width="525" height="500" alt="image" /><br /><br />

      </div>
     </div>
  

    <div class="row featurette">
      <div class="col-md-7">
          <p1><strong>WHAT YOU NEED FROM INCEPTION TO INTEGRATION</strong></p1>
        <h2 class="featurette-heading fw-normal lh-1">Bespoke Solutions</h2>
        <p class="lead"><strong>Speak with our team to find the best computer vision development plan for your project or organisation, and get a FREE data science consultation to begin your journey.</strong></p>
       
      </div>
      <div class="col-md-5">
          <img src="https://i0.wp.com/seerbi.uk/wp-content/uploads/2021/11/20211101_130945-scaled.jpg?resize=1536%2C728&ssl=1" width="600" height="400" alt="image" /><br /> <br />

      </div>
       </div>
   
      <div>
         <h1 class="h1 text-dark">A world class team to help you get the<br /> most out of your data</h1>
         <p class="text-dark pb-4"><strong>Our team of data scientists/data analysts are here to help you understand your data, get the most<br /> value out of it and make your organisation as good as it can be. </strong></p>
         <p><a class="btn btn-secondary" href="https://localhost:7172/Home/privacy">Unlock Your Data</a></p>
     </div>
  


 <footer>
     <div>
      <img src="https://i0.wp.com/seerbi.uk/wp-content/uploads/2021/10/Logo-2-Light2.png?resize=165%2C93&ssl=1" /> 
     </div><br />
  <p>Victoria House, Victoria Road, Middlesbrough, UK</p>
  <p>+447928510731</p>
  <p>info@seerbi.uk</p>
  <div>
     <a href="https://localhost:7172/Home/Index">Home</a><br />
     <a href="https://localhost:7172/Business_Intelligence/Index">Business Intelligence</a><br />
     <a href="https://localhost:7172/Machine_Learning/Index">Machine Learning</a><br />
     <a href="https://localhost:7172/Machine_Learning/ComputerVision">Computer Vision</a><br />
     <a href="https://localhost:7172/Machine_Learning/NLP">Natural Language Processing (NLP)</a><br />
     <a href="https://localhost:7172/News/Index">News</a><br />   
 </div>
 <div>
     <a href="https://www.nvidia.com/en-gb/" target="_blank"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmCS_rRaaV2iNoi4ygd3AOm7okA7JIEliFuIsT6qvP9Q&s" width="250" height="150" alt="image"/></a>
     <a href="https://www.microsoftpartnercommunity.com/" target="_blank"><img src="https://partner.microsoft.com/-/media/mssc/mpn/partner/marketing/badge.ashx?h=433&iar=0&w=650&la=en&hash=3A975F567D22971AE8C1231FDB26A901" width="250" height="150" alt="image"/></a>
 </div>
</footer>
    
  


