
@{
    ViewData["Title"] = "Index";
}
<h1>News</h1>
    <div>
<table>
<tr>
  <td>
   <a href="https://localhost:7172/News/News1"><img src="https://i0.wp.com/seerbi.uk/wp-content/uploads/2022/11/pexels-photo-7413996.jpeg?fit=1024%2C683&ssl=1"width="600" height="400" alt="image" /><br /><br /></a>
    <p><a class="btn btn-light" href="https://localhost:7172/News/News1">Industry Insight</a></p>
    <pr><strong>The Value of Data Analytics to Your Business</strong></pr><br /><br />
</td>
  <td>
   <a href="https://localhost:7172/News/News2"><img src="https://i0.wp.com/seerbi.uk/wp-content/uploads/2022/10/38651944616_9ff5489841_b.jpg?resize=150%2C150&ssl=1"width="600" height="400" alt="image" /><br /><br /></a>
    <p><a class="btn btn-light" href="https://localhost:7172/News/News2">Industry Insight</a></p>
    <pr><strong>Smart Air Solutions for Urban & Rural Areas</strong></pr><br /><br />
</td>
 
  </tr>

  <tr>
  <td>
   <a href="https://localhost:7172/News/News3"><img src="https://i0.wp.com/seerbi.uk/wp-content/uploads/2022/08/DALL.png?resize=150%2C150&ssl=1"width="600" height="400" alt="image" /><br /><br /></a>
    <p><a class="btn btn-light" href="https://localhost:7172/News/News3">Industry Insight</a></p>
    <pr><strong>DALL.E 2 – Making Anything From Text With AI</strong></pr><br /><br />
</td>
  <td>
   <a href="https://localhost:7172/News/News4"><img src="https://i0.wp.com/seerbi.uk/wp-content/uploads/2022/07/CooteoGrady.png?resize=150%2C150&ssl=1"width="600" height="400" alt="image" /><br /><br /></a>
    <p><a class="btn btn-light" href="https://localhost:7172/News/News4">Industry Insight</a></p>
    <pr><strong>Coote O’Grady Partners With SeerBI To Develop Machine Learning Capability</strong></pr><br /><br />
</td>
 
  </tr>

  <tr>
  <td>
   <a href="https://localhost:7172/News/News5"><img src="https://i0.wp.com/seerbi.uk/wp-content/uploads/2022/06/IMG_20220616_152142.jpg?resize=150%2C150&ssl=1"width="600" height="400" alt="image" /><br /><br /></a>
    <p><a class="btn btn-light" href="https://localhost:7172/News/News5">Industry Insight</a></p>
    <pr><strong>SeerBI at Maritime Innovation Week</strong
 ></pr><br /><br />
</td>
  <td>
   <a href="https://localhost:7172/News/News6"><img src="https://i0.wp.com/seerbi.uk/wp-content/uploads/2022/03/ships-communication-network-concept-1024x576-1.jpg?resize=150%2C150&ssl=1"width="600" height="400" alt="image" /><br /><br /></a>
    <p><a class="btn btn-light" href="https://localhost:7172/News/News6">Industry Insight</a></p>
   <pr><strong>Artificial Intelligence (AI) in Maritime</strong></pr><br /><br />
</td>
  </tr>

  <tr>
  <td>
   <a href="https://localhost:7172/News/News7"><img src="https://i0.wp.com/seerbi.uk/wp-content/uploads/2022/05/258.jpg?resize=150%2C150&ssl=1"width="600" height="400" alt="image" /><br /><br /></a>
    <p><a class="btn btn-light" href="https://localhost:7172/News/News7">SeerBI News</a></p>
    <pr><strong>SeerBI to Develop New Advances in Machine Learning for the Maritime Industry to Achieve Net Zero</strong></pr><br /><br />
</td>
  <td>
   <a href="https://localhost:7172/News/News8"><img src="https://i0.wp.com/seerbi.uk/wp-content/uploads/2022/05/CB_TeesTechAwards2022_185.jpg?resize=150%2C150&ssl=1"width="600" height="400" alt="image" /><br /><br /></a>
    <p><a class="btn btn-light" href="https://localhost:7172/News/News8">SeerBI News</a></p>
    <pr><strong>Data Science Startup SeerBI Wins Award</strong></pr><br /><br />
</td>
 
  </tr>

  <tr>
  <td>
   <a href="https://localhost:7172/News/News9"><img src="https://i0.wp.com/seerbi.uk/wp-content/uploads/2022/04/Port_TYne_2050.png?resize=150%2C150&ssl=1"width="600" height="400" alt="image" /><br /><br /></a>
    <p><a class="btn btn-light" href="https://localhost:7172/News/News9">SeerBI News</a></p>
   <pr><strong>SeerBI Joins the Port of Tyne 2050 Innovation Hub</strong></pr><br /><br />
</td>
  <td>
   <a href="https://localhost:7172/News/News10"><img src="https://i0.wp.com/seerbi.uk/wp-content/uploads/2022/04/Award_Blog.png?resize=150%2C150&ssl=1"width="600" height="400" alt="image" /><br /><br /></a>
    <p><a class="btn btn-light" href="https://localhost:7172/News/News10">SeerBI News</a></p>
    <pr><strong>Double Award Shortlist for SeerBI</strong></pr><br /><br />
</td>
 
  </tr>

  
  </table>
</div>



    
  <footer>
     <div>
      <img src="https://i0.wp.com/seerbi.uk/wp-content/uploads/2021/10/Logo-2-Light2.png?resize=165%2C93&ssl=1" /> 
     </div><br />
  <p>Victoria House, Victoria Road, Middlesbrough, UK</p>
  <p>+447928510731</p>
  <p>info@seerbi.uk</p>
  <div>
     <a href="https://localhost:7172/Home/Index">Home</a><br />
     <a href="https://localhost:7172/Business_Intelligence/Index">Business Intelligence</a><br />
     <a href="https://localhost:7172/Machine_Learning/Index">Machine Learning</a><br />
     <a href="https://localhost:7172/Machine_Learning/ComputerVision">Computer Vision</a><br />
     <a href="https://localhost:7172/Machine_Learning/NLP">Natural Language Processing (NLP)</a><br />
     <a href="https://localhost:7172/News/Index">News</a><br />  
 </div>
 <div>
     <a href="https://www.nvidia.com/en-gb/" target="_blank"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmCS_rRaaV2iNoi4ygd3AOm7okA7JIEliFuIsT6qvP9Q&s" width="250" height="150" alt="image"/></a>
     <a href="https://www.microsoftpartnercommunity.com/" target="_blank"><img src="https://partner.microsoft.com/-/media/mssc/mpn/partner/marketing/badge.ashx?h=433&iar=0&w=650&la=en&hash=3A975F567D22971AE8C1231FDB26A901" width="250" height="150" alt="image"/></a>
     <a href="https://www.facebook.com" target="_blank"><img src="https://blog-assets.hootsuite.com/wp-content/uploads/2018/09/f-ogo_RGB_HEX-58.png" alt="image" /></a>
     <a href="https://www.twitter.com" target="_blank"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdQWj-ZwDEcGFtiOveMRcEEO_CZfjxKIR9IXkl1a9FuA&s" width="60" height="60" alt="image" /></a>
     <a href="https://www.linkedin.com" target="_blank"><img src="https://blog-assets.hootsuite.com/wp-content/uploads/2018/09/In-2C-54px-R.png" alt="image"/></a>
 </div>

</footer>

