
@{
    ViewData["Title"] = "Index";
}
<h1>/h1>
  <footer>
     <div>
      <img src="https://i0.wp.com/seerbi.uk/wp-content/uploads/2021/10/Logo-2-Light2.png?resize=165%2C93&ssl=1" /> 
     </div><br />
  <p>Victoria House, Victoria Road, Middlesbrough, UK</p>
  <p>+447928510731</p>
  <p>info@seerbi.uk</p>
  <div>
     <a href="https://localhost:7172/Home/Index">Home</a><br />
     <a href="https://localhost:7172/Business_Intelligence/Index">Business Intelligence</a><br />
     <a href="https://localhost:7172/Machine_Learning/Index">Machine Learning</a><br />
     <a href="https://localhost:7172/Machine_Learning/ComputerVision">Computer Vision</a><br />
     <a href="https://localhost:7172/Machine_Learning/NLP">Natural Language Processing (NLP)</a><br />
     <a href="https://localhost:7172/News/Index">News</a><br />  
 </div>
 <div>
     <a href="https://www.nvidia.com/en-gb/" target="_blank"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmCS_rRaaV2iNoi4ygd3AOm7okA7JIEliFuIsT6qvP9Q&s" width="250" height="150" alt="image"/></a>
     <a href="https://www.microsoftpartnercommunity.com/" target="_blank"><img src="https://partner.microsoft.com/-/media/mssc/mpn/partner/marketing/badge.ashx?h=433&iar=0&w=650&la=en&hash=3A975F567D22971AE8C1231FDB26A901" width="250" height="150" alt="image"/></a>
 </div>
</footer>

