
@{
    ViewData["Title"] = "News2";
}

<div class="row featurette">
      <div>
   
        <h2 style="margin-left:10em;margin-right:10em;">Smart Air Solutions for Urban and Rural Areas with IoT and AI</h2>
        <p style="margin-left:20em;margin-right:20em;">SeerBI are working in collaboration with MConnected and their partner EchoStar Mobile to deliver smart air solutions for Urban and Rural Areas. These solutions will look to monitor air quality, carbon capture, weather conditions, temperature, ground stability and more to deliver smart solutions and insights for areas with no or low connectivity. </p>
       
      </div>
      </div>
      <div style="margin-left:20em;margin-right:20em;">
        <img src="https://i0.wp.com/seerbi.uk/wp-content/uploads/2022/10/wk2523755-wikimedia-image-kp6itflk-kp6j3m91.jpg?w=800&ssl=1" style="width:100%">
       </div>

 <p style="margin-left:20em;margin-right:20em;">MConnected Ltd in collaboration with SeerBI are Asset Intelligence companies with its core skills firmly on AI and IoT principles and technologies. This “Predictive IoT” process has been
very successful, leading to significant projects within the freight logistics, predictive maintenance, maritime, and defense verticals. We focus on developing technologies for collecting data, whether
numeric or textual, at scale, and in an automated manner that require minimal human interaction.<br>

MConnected and SeerBi’s IoT solutions operate on LoRaWAN Low Power Wide Area Networks (LPWAN) that are optimised for battery life, range, indoor-outdoor coverage, bi-directionality, and cost. They
utilise a variety of field-based sensors, designed to send small amounts of data over long distances. Each of the sensors send their short packets of data to a gateway. The gateway forwards the data to
a cloud-based network server via backhaul (satellite, Ethernet, cellular, Wi-Fi).<br>

MConnected’s network servers manage the data intelligence and network complexity, filtering redundant data, performing security checks and adaptive data rate management.<br></p>
<div style="margin-left:20em;margin-right:20em;">
  <img src="https://i0.wp.com/seerbi.uk/wp-content/uploads/2022/10/Screenshot-2022-10-03-114849.png?resize=1024%2C285&ssl=1" style="width:100%">
</div>


<p style="margin-left:20em;margin-right:20em;">SeerBI and MConnected look to deploy edge-to-end solutions taking data from devices designed and deployed by M Connected, connecting via LoRaWAN networks, transmitting to the EchoStar 21 Satellite network before being collected by SeerBI’s cloud compute cluster and being visualised on dashboards or interactive web apps. At this stage, SeerBI also introduces our Air Quality and Carbon AI which looks to classify as well as predict conditions for smart insights into rural areas.<br>

</p><br>
<div style="margin-left:20em;margin-right:20em;">
  <img src="https://i0.wp.com/seerbi.uk/wp-content/uploads/2022/10/DALL%C2%B7E-2022-10-03-12.14.48-buoy-at-sea-monitoring-sea-grass.png?resize=1024%2C630&ssl=1" style="width:100%">
</div>


 
 <p style="margin-left:20em;margin-right:20em;">The applications and dashboard developed by SeerBI allow users to interact with and understand their data by:<br>

The control of individual sensors and thresholds remotely.<br>
 Specialized algorithms focused on monitoring air quality.<br>
 A Unified secure dashboard for stakeholders to monitor their assets.<br>
 The main parameters and baseline assessment indicating patency of the natural asset.<br> 
 The data to populate an SQL database with the capability of a high level of interrogation via AI and Dashboards. <br>
The information to be readily available on a secure unified dashboard to include base line characteristics.<br> 
Threshold levels and alerting notification procedures of air quality issues.<br> 
Predictive algorithms based on the sensor and third-party data sets, predicting changes within the natural asset.<br>
API development for external access and retrieval of data <br></p>
<div style="margin-left:20em;margin-right:20em;">
  <img src="https://i0.wp.com/seerbi.uk/wp-content/uploads/2021/12/stephen-dawson-qwtCeJ5cLYs-unsplash-scaled.jpg?resize=1536%2C1105&ssl=1" style="width:100%">
</div>



 <p style="margin-left:20em;margin-right:20em;">The outputs of these developments will allow individual stakeholders as well as wider government bodies to better understand the air quality and impacts that policies and advancements have on rural and remote areas. These insights can be used to drive policy, make smart data-driven decisions on areas or organizations and restore areas we may not currently know are under threat <br></p>
<div style="margin-left:20em;margin-right:20em;">
  <img src="https://i0.wp.com/seerbi.uk/wp-content/uploads/2022/09/shipdetected.png?resize=1024%2C546&ssl=1" style="width:100%">
</div>


 
 <p style="margin-left:20em;margin-right:20em;">If you are interested in the smart monitoring of air and carbon quality in rural and remote areas please let us know and we would be happy to discuss opportunities where both MConnected and SeerBI can support you and your organization. <br></p>



<div style="margin-left:34em;margin-right:34em;">
    <p><a class="btn btn-secondary" href="https://localhost:7172/Home/privacy">Unlock Your Data</a></p>
 </div><br />
 <div style="margin-left:34em;margin-right:34em;">
     <a href="https://www.facebook.com" target="_blank"><img src="https://blog-assets.hootsuite.com/wp-content/uploads/2018/09/f-ogo_RGB_HEX-58.png" alt="image"/></a>
     <a href="https://www.twitter.com" target="_blank"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdQWj-ZwDEcGFtiOveMRcEEO_CZfjxKIR9IXkl1a9FuA&s" width="60" height="60" alt="image" /></a>
     <a href="https://www.linkedin.com" target="_blank"><img src="https://blog-assets.hootsuite.com/wp-content/uploads/2018/09/In-2C-54px-R.png" alt="image"/></a><br />
 </div><br />







  <footer>
     <div>
      <img src="https://i0.wp.com/seerbi.uk/wp-content/uploads/2021/10/Logo-2-Light2.png?resize=165%2C93&ssl=1" /> 
     </div><br />
  <p>Victoria House, Victoria Road, Middlesbrough, UK</p>
  <p>+447928510731</p>
  <p>info@seerbi.uk</p>
  <div>
     <a href="https://localhost:7172/Home/Index">Home</a><br />
     <a href="https://localhost:7172/Business_Intelligence/Index">Business Intelligence</a><br />
     <a href="https://localhost:7172/Machine_Learning/Index">Machine Learning</a><br />
     <a href="https://localhost:7172/Machine_Learning/ComputerVision">Computer Vision</a><br />
     <a href="https://localhost:7172/Machine_Learning/NLP">Natural Language Processing (NLP)</a><br />
     <a href="https://localhost:7172/News/Index">News</a><br />  
 </div>
 <div>
     <a href="https://www.nvidia.com/en-gb/" target="_blank"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmCS_rRaaV2iNoi4ygd3AOm7okA7JIEliFuIsT6qvP9Q&s" width="250" height="150" alt="image"/></a>
     <a href="https://www.microsoftpartnercommunity.com/" target="_blank"><img src="https://partner.microsoft.com/-/media/mssc/mpn/partner/marketing/badge.ashx?h=433&iar=0&w=650&la=en&hash=3A975F567D22971AE8C1231FDB26A901" width="250" height="150" alt="image"/></a>
 </div>
</footer>
    


