
@{
    ViewData["Title"] = "News9";
}

<div class="row featurette">
      <div>
   
        <h2 style="margin-left:10em;margin-right:10em;">Double award shortlist for SeerBI</h2>
        <p style="margin-left:20em;margin-right:20em;">
We feel honoured to announce that SeerBI has been shortlisted for not only one but two awards for the work we have done so far building the business with partnerships with both NVIDIA and Microsoft. Alongside delivering data analytics and machine learning services to our clients.<br />

The first shortlist came from the Tees Tech Awards in which we have been shortlisted for the “Digital Newcomer of the Year” Award alongside other Tees Tech businesses Sencode Cyber Security and Constantine Media.<br />

The second shortlist came from the Startup Awards National Series North East where we have been shortlisted for the “Graduate Startup” Award alongside madeby.studio, Pretty Mama and Made to Move Sheffield. <br /> </p>
       
      </div>
      </div>
  <div class="slideshow-container">

<div class="mySlides">
  <div class="numbertext">1 / 3</div>
  <img src="https://i0.wp.com/seerbi.uk/wp-content/uploads/2022/04/1648633900534.jpg?fit=1200%2C627&ssl=1" style="width:100%">

</div>

<div class="mySlides">
  <div class="numbertext">2 / 3</div>
  <img src="https://i0.wp.com/seerbi.uk/wp-content/uploads/2022/04/Wide_Tech_Shorl.png?fit=1200%2C627&ssl=1" style="width:100%">
 
</div>


</div>
<br>

<div style="text-align:center">
  <span class="dot"></span> 
  <span class="dot"></span> 
  
</div>

<script>
let slideIndex = 0;
showSlides();

function showSlides() {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  let dots = document.getElementsByClassName("dot");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";  
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}    
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
  setTimeout(showSlides, 3000); // Change image every 3 seconds
}
</script>

 
 <p style="margin-left:20em;margin-right:20em;">The StartUp Awards National Series has been launched to recognise the booming startup scene across the UK which has accelerated since the pandemic began. In 2020, when most of the world was shutting down, more than 400,000 startups were set up in Britain, with similar increases seen in other European countries.<br /> 

There was stiff competition with over 2,500 applications received in response to the Startup Awards National Series’ first-ever call for entries. <br /> 

Supported nationally by BT, EY, Dell & Intel, the programme will celebrate the achievements of the amazing individuals across the UK who have turned an idea into an opportunity and taken the risk to launch a new product or service. <br /> 

Co-founded by the team behind the Great British Entrepreneur Awards, the new series follows the success of the Wales StartUp Awards, after organisers recognised the exceptional potential in the startup scene across the other British regions. <br /> 

Professor Dylan Jones-Evans OBE, the creator of the StartUp Awards National Series, said: “​​New firms are important for generating economic prosperity, employment opportunities and innovation. Since 2016, the Wales StartUp Awards have celebrated this amazing annual contribution to our economy by entrepreneurs and the impact they have on communities across the nation. <br /> 

“Given the sheer volume of phenomenal startups we’ve heard from since then, as well as the huge post-pandemic shift in people’s desires to take their career in a new direction and set up a business against the odds, we felt it was the right time to take the programme nationwide. We’ve been blown away by the standard of entries in this first year and truly look forward to crowning the winners in June.” <br></p>

<div style="margin-left:20em;margin-right:20em;">
  <img src="https://i0.wp.com/seerbi.uk/wp-content/uploads/2021/10/fatos-bytyqi-Agx5_TLsIf4-unsplash-scaled.jpg?resize=1024%2C683&ssl=1" style="width:100%">
</div>




<p style="margin-left:20em;margin-right:20em;">The last of the finalists have been named for the third annual Tees Tech Awards,  A Tees Business event in association with DigitalCity and Middlesbrough Digital, the Tees Tech Awards 2022 take place at Hardwick Hall Hotel on Tuesday, April 28.<br />

Nearly 90 entries and nominations came in across the 11 categories, with sponsors now announcing their choices for the final three for each award.<br />

Stockton-based fintech platform EnAppSys will compete for the big award, Company of the Year, with Middlesbrough video games development business SockMonkey Studios and Vianet Group, an Internet of Things company in Stockton.<br />

David Dixon of DigitalCity said: “Yet again, the brilliant Tees Valley digital and technology ecosystem has shown its depth and variety.<br />

“It is brilliant to see so many new applicants. I can’t wait for what is certain to be a brilliant evening. Best of luck to all those shortlisted and thank you to all who entered or nominated others.”<br />

Five sponsors will independently score the finalists in each category, with the winners only revealed on the night of the awards. <br /></p>
 
<div style="margin-left:20em;margin-right:20em;">
  <img src="https://i0.wp.com/seerbi.uk/wp-content/uploads/2021/11/20211101_130945-scaled.jpg?resize=1024%2C485&ssl=1" style="width:100%">
</div>
<p style="margin-left:20em;margin-right:20em;">It is going to be an exciting few weeks for us here at SeerBI as we await the award nights alongside all of our amazing co – shortlisted businesses. We want to wish good luck to everyone shortlisted for awards at both events and we can’t wait to share the results!<br /></p>
 

<div style="margin-left:34em;margin-right:34em;">
    <p><a class="btn btn-secondary" href="https://localhost:7172/Home/privacy">Unlock Your Data</a></p>
 </div><br />
 <div style="margin-left:34em;margin-right:34em;">
     <a href="https://www.facebook.com" target="_blank"><img src="https://blog-assets.hootsuite.com/wp-content/uploads/2018/09/f-ogo_RGB_HEX-58.png" alt="image"/></a>
     <a href="https://www.twitter.com" target="_blank"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdQWj-ZwDEcGFtiOveMRcEEO_CZfjxKIR9IXkl1a9FuA&s" width="60" height="60" alt="image" /></a>
     <a href="https://www.linkedin.com" target="_blank"><img src="https://blog-assets.hootsuite.com/wp-content/uploads/2018/09/In-2C-54px-R.png" alt="image"/></a><br />
 </div><br />







  <footer>
     <div>
      <img src="https://i0.wp.com/seerbi.uk/wp-content/uploads/2021/10/Logo-2-Light2.png?resize=165%2C93&ssl=1" /> 
     </div><br />
  <p>Victoria House, Victoria Road, Middlesbrough, UK</p>
  <p>+447928510731</p>
  <p>info@seerbi.uk</p>
  <div>
     <a href="https://localhost:7172/Home/Index">Home</a><br />
     <a href="https://localhost:7172/Business_Intelligence/Index">Business Intelligence</a><br />
     <a href="https://localhost:7172/Machine_Learning/Index">Machine Learning</a><br />
     <a href="https://localhost:7172/Machine_Learning/ComputerVision">Computer Vision</a><br />
     <a href="https://localhost:7172/Machine_Learning/NLP">Natural Language Processing (NLP)</a><br />
     <a href="https://localhost:7172/News/Index">News</a><br />  
 </div>
 <div>
     <a href="https://www.nvidia.com/en-gb/" target="_blank"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmCS_rRaaV2iNoi4ygd3AOm7okA7JIEliFuIsT6qvP9Q&s" width="250" height="150" alt="image"/></a>
     <a href="https://www.microsoftpartnercommunity.com/" target="_blank"><img src="https://partner.microsoft.com/-/media/mssc/mpn/partner/marketing/badge.ashx?h=433&iar=0&w=650&la=en&hash=3A975F567D22971AE8C1231FDB26A901" width="250" height="150" alt="image"/></a>
 </div>
</footer>
    



