
@{
    ViewData["Title"] = "News8";
}

<div class="row featurette">
      <div>
   
        <h2 style="margin-left:10em;margin-right:10em;">SeerBI Wins the Best Newcomer at the Tees Tech Awards</h2>
        <p style="margin-left:20em;margin-right:20em;">We are delighted to announce today that we were named the winner of the Best Newcomer Award at the Tees Tech Awards. The award highlights the significance of the demanding work and groundbreaking services we have provided in the short 7 months since our founding.<br />

        “The award showcases the significant effort our team has gone through since founding only 7 months ago, from building bespoke data dashboards and solutions for maritime operators to partnering with some of the largest tech companies around” said Hannah Stothard, Head of Operations. “But the work is only just beginning, we are about to start some really exciting work with new clients and some internal developments we will be sharing soon.” <br /> </p>
       
      </div>
      </div>
  <div class="slideshow-container">

<div class="mySlides">
  <div class="numbertext">1 / 3</div>
  <img src="https://i0.wp.com/seerbi.uk/wp-content/uploads/2022/05/CB_TeesTechAwards2022_143.jpg?fit=800%2C533&ssl=1" style="width:100%">

</div>

<div class="mySlides">
  <div class="numbertext">2 / 3</div>
  <img src="https://i0.wp.com/seerbi.uk/wp-content/uploads/2022/05/1651192345392.jpg?fit=1024%2C768&ssl=1" style="width:100%">
 
</div>

<div class="mySlides">
  <div class="numbertext">3 / 3</div>
  <img src="https://i0.wp.com/seerbi.uk/wp-content/uploads/2022/05/CB_TeesTechAwards2022_185.jpg?fit=800%2C568&ssl=1" style="width:100%">

</div>

</div>
<br>

<div style="text-align:center">
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
</div>

<script>
let slideIndex = 0;
showSlides();

function showSlides() {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  let dots = document.getElementsByClassName("dot");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";  
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}    
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
  setTimeout(showSlides, 3000); // Change image every 3 seconds
}
</script>

 
 <p style="margin-left:20em;margin-right:20em;">The Tees Tech Best Newcomer Award sponsored by Vistech Services showcases companies that despite the challenges of launching around the time of the pandemic, have, in just a short time, become important players on the local digital scene. Other shortlisted companies include Constatine Media and Sencode Cybersecurity. Previous winners of the award include Salesfire who have since increased their business to over 600 clients and 50 team members.<br />

The award sponsor Vistech Services has been operating successfully for nearly a decade providing security and facilities management services to sites across the UK. Originally operating locally around Teesside, Vistech Services now operates nationally and is one of the most accredited service providers in the UK .<br></p>
<div style="margin-left:20em;margin-right:20em;">
  <img src="https://i0.wp.com/seerbi.uk/wp-content/uploads/2022/05/AwardWin.png?resize=1024%2C835&ssl=1" style="width:100%">
</div>




<p style="margin-left:20em;margin-right:20em;">This is just the beginning of what we plan to do at SeerBI, with even more exciting projects and clients coming soon. Our goal is to save organisations time and money using real data science and that is what we will carry on doing. <br /></p>
 


<div style="margin-left:34em;margin-right:34em;">
    <p><a class="btn btn-secondary" href="https://localhost:7172/Home/privacy">Unlock Your Data</a></p>
 </div><br />
 <div style="margin-left:34em;margin-right:34em;">
     <a href="https://www.facebook.com" target="_blank"><img src="https://blog-assets.hootsuite.com/wp-content/uploads/2018/09/f-ogo_RGB_HEX-58.png" alt="image"/></a>
     <a href="https://www.twitter.com" target="_blank"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdQWj-ZwDEcGFtiOveMRcEEO_CZfjxKIR9IXkl1a9FuA&s" width="60" height="60" alt="image" /></a>
     <a href="https://www.linkedin.com" target="_blank"><img src="https://blog-assets.hootsuite.com/wp-content/uploads/2018/09/In-2C-54px-R.png" alt="image"/></a><br />
 </div><br />







  <footer>
     <div>
      <img src="https://i0.wp.com/seerbi.uk/wp-content/uploads/2021/10/Logo-2-Light2.png?resize=165%2C93&ssl=1" /> 
     </div><br />
  <p>Victoria House, Victoria Road, Middlesbrough, UK</p>
  <p>+447928510731</p>
  <p>info@seerbi.uk</p>
  <div>
     <a href="https://localhost:7172/Home/Index">Home</a><br />
     <a href="https://localhost:7172/Business_Intelligence/Index">Business Intelligence</a><br />
     <a href="https://localhost:7172/Machine_Learning/Index">Machine Learning</a><br />
     <a href="https://localhost:7172/Machine_Learning/ComputerVision">Computer Vision</a><br />
     <a href="https://localhost:7172/Machine_Learning/NLP">Natural Language Processing (NLP)</a><br />
     <a href="https://localhost:7172/News/Index">News</a><br />  
 </div>
 <div>
     <a href="https://www.nvidia.com/en-gb/" target="_blank"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmCS_rRaaV2iNoi4ygd3AOm7okA7JIEliFuIsT6qvP9Q&s" width="250" height="150" alt="image"/></a>
     <a href="https://www.microsoftpartnercommunity.com/" target="_blank"><img src="https://partner.microsoft.com/-/media/mssc/mpn/partner/marketing/badge.ashx?h=433&iar=0&w=650&la=en&hash=3A975F567D22971AE8C1231FDB26A901" width="250" height="150" alt="image"/></a>
 </div>
</footer>
    



