
@{
    ViewData["Title"] = "News6";
}

<div class="row featurette">
      <div>
   
        <h2 style="margin-left:10em;margin-right:10em;">Artificial Intelligence in Maritime</h2>
        <p style="margin-left:20em;margin-right:20em;">AI has come to the maritime industry. While it may be hard at first to imagine that there are many use cases for artificial intelligence in this field, they are numerous and growing by the day. The following article will discuss some of the most exciting AI applications used in the maritime industry.<br /> </p>
         <h2 style="margin-left:10em;margin-right:10em;">IoT (Internet of Things) at sea</h2>
       <p style="margin-left:20em;margin-right:20em;">IoT is the connection of physical devices, vehicles, buildings and other items to the internet and each other. IoT is a key part of the maritime industry and will be going forward.<br />

      IoT helps to improve safety and efficiency in maritime operations by connecting equipment with each other through sensors or communication channels. These connections make it possible for machines to communicate directly with one another over Wi-Fi or cellular networks—no human interaction required. For example: A ship’s engine could automatically receive instructions from a smart phone app that tells it how fast to go in order to arrive at its destination on time; a crane operator may be notified if there are any problems with equipment before they occur; an internet-connected container could tell its port when it’s arrived safely at its destination so that customs agents know whether they need inspect it or not.<br /> </p>
         <h2 style="margin-left:10em;margin-right:10em;">Data science on the edge</h2>
          <p style="margin-left:20em;margin-right:20em;">As the Internet of Things (IoT) continues to grow and as connectivity demands increase, edge computing will play an important role in creating a fast, secure and reliable internet. Edge computing refers to processing data close to where it is generated in order to reduce latency, avoid bandwidth constraints and lower costs. Data science on the edge has become increasingly important as we rely on machine learning algorithms for many applications including autonomous vehicles, drones, robots and more. In this article, we’ll take a look at how edge computing supports artificial intelligence (AI). At SeerBI we partner with NVIDIA and utilise their Jetson Edge computing devices for super high performance and low power consumption machine learning.<br /> </p>
       
      </div>
      </div>
      <div class="slideshow-container">

<div class="mySlides">
  <div class="numbertext">1 / 3</div>
  <img src="https://i0.wp.com/seerbi.uk/wp-content/uploads/2021/12/stephen-dawson-qwtCeJ5cLYs-unsplash-scaled.jpg?fit=1024%2C737&ssl=1" style="width:100%">

</div>

<div class="mySlides">
  <div class="numbertext">2 / 3</div>
  <img src="https://i0.wp.com/seerbi.uk/wp-content/uploads/2022/05/2069594-n0.jpg?fit=700%2C495&ssl=1" style="width:100%">
 
</div>

<div class="mySlides">
  <div class="numbertext">3 / 3</div>
  <img src="https://i0.wp.com/seerbi.uk/wp-content/uploads/2022/04/112-large-eba1b33bd4ffd336bd3f84bc34679494.jpg?fit=1000%2C700&ssl=1" style="width:100%">

</div>

</div>
<br>

<div style="text-align:center">
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
</div>

<script>
let slideIndex = 0;
showSlides();

function showSlides() {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  let dots = document.getElementsByClassName("dot");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";  
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}    
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
  setTimeout(showSlides, 3000); // Change image every 3 seconds
}
</script>

 <h2 style="margin-left:10em;margin-right:10em;">An AI-powered engine room</h2> 
 <p style="margin-left:20em;margin-right:20em;">AI will help ship operators make better decisions.<br>

Thanks to AI, you’ll be able to plan your voyage more efficiently and accurately, which in turn will save you money and time. AI will also help improve the safety of vessels by monitoring the engine room from an engineering office onshore – making it possible for engineers who are not physically present at sea to monitor their operations in real time. In addition, this technology should also reduce accidents caused by human error as well as emergency situations like fires or explosions caused by oil spills that could potentially result from them (and yes we do see these types of incidents often).<br>

Finally, using AI means that ship owners can rely on their vessels 24/7 with minimal downtime – keeping them running smoothly without requiring constant attention from humans so they can focus on other areas such as maintenance tasks instead.:<br></p>


<h2 style="margin-left:10em;margin-right:10em;">Using AI to extend vessel life</h2> 


<p style="margin-left:20em;margin-right:20em;">AI can be used to monitor parts. As machines and their components age, they require more maintenance and replacement. To help lower costs, savings can be made if you know when your machine is going to need repairs or maintenance before it actually happens.<br />

AI can be used to monitor the crew. If a crew member is at risk of burning out due to excessive hours worked, it’s important that a manager knows about this as soon as possible so they can take action before it becomes an issue for both the employee and their employer.<br />

AI can be used to monitor the environment. With global warming becoming more of an issue every day, monitoring data from sensors such as those measuring temperature levels provides valuable information about how we’re doing in terms of protecting our planet from further damage – especially since some sensors may not work correctly all the time (for example: if there’s no sun shining on them).<br />

AI can be used offshore – where there are no physical humans present – because ships rely heavily on technology for navigation purposes rather than relying solely on human judgement based purely off intuition which leads us back full circle again; monitoring systems should always include some sort of backup method such as voice commands or buttons placed throughout each room so there’s always someone around when needed too!<br></p><br>
<div style="margin-left:20em;margin-right:20em;">
  <img src="https://i0.wp.com/seerbi.uk/wp-content/uploads/2022/03/ships-communication-network-concept-1024x576-1.jpg?w=1024&ssl=1" style="width:100%">
</div>


 <h2 style="margin-left:10em;margin-right:10em;">The maritime industry has a bright future, and AI, ML and DL will help get it there.</h2> 

 <p style="margin-left:20em;margin-right:20em;">The maritime industry has a bright future, and AI, ML and DL will help get it there.<br />

AI helps make the maritime industry safer, more efficient and profitable by automating tasks such as navigation, cargo handling and maintenance. It also gives people in the field better information about their jobs so they can work less hours to do them. This means lower costs for shipping companies while keeping both sailors and cargo safe on the high seas.<br />

AI is still in its infancy, but as it matures, we can expect to see more and more applications of it in our daily lives. We will have a new generation of technology that can learn from experience and adapt to new situations on the fly, making decisions like humans do. For example, AI could one day drive ships through rough seas or help us better understand the ocean’s resources.<br />

If you and your organisation want to take the leap and begin applying AI and Machine Learning today, let us know or checkout our services to unlock your data<br></p>



<div style="margin-left:34em;margin-right:34em;">
    <p><a class="btn btn-secondary" href="https://localhost:7172/Home/privacy">Unlock Your Data</a></p>
 </div><br />
 <div style="margin-left:34em;margin-right:34em;">
     <a href="https://www.facebook.com" target="_blank"><img src="https://blog-assets.hootsuite.com/wp-content/uploads/2018/09/f-ogo_RGB_HEX-58.png" alt="image"/></a>
     <a href="https://www.twitter.com" target="_blank"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdQWj-ZwDEcGFtiOveMRcEEO_CZfjxKIR9IXkl1a9FuA&s" width="60" height="60" alt="image" /></a>
     <a href="https://www.linkedin.com" target="_blank"><img src="https://blog-assets.hootsuite.com/wp-content/uploads/2018/09/In-2C-54px-R.png" alt="image"/></a><br />
 </div><br />







  <footer>
     <div>
      <img src="https://i0.wp.com/seerbi.uk/wp-content/uploads/2021/10/Logo-2-Light2.png?resize=165%2C93&ssl=1" /> 
     </div><br />
  <p>Victoria House, Victoria Road, Middlesbrough, UK</p>
  <p>+447928510731</p>
  <p>info@seerbi.uk</p>
  <div>
     <a href="https://localhost:7172/Home/Index">Home</a><br />
     <a href="https://localhost:7172/Business_Intelligence/Index">Business Intelligence</a><br />
     <a href="https://localhost:7172/Machine_Learning/Index">Machine Learning</a><br />
     <a href="https://localhost:7172/Machine_Learning/ComputerVision">Computer Vision</a><br />
     <a href="https://localhost:7172/Machine_Learning/NLP">Natural Language Processing (NLP)</a><br />
     <a href="https://localhost:7172/News/Index">News</a><br />  
 </div>
 <div>
     <a href="https://www.nvidia.com/en-gb/" target="_blank"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmCS_rRaaV2iNoi4ygd3AOm7okA7JIEliFuIsT6qvP9Q&s" width="250" height="150" alt="image"/></a>
     <a href="https://www.microsoftpartnercommunity.com/" target="_blank"><img src="https://partner.microsoft.com/-/media/mssc/mpn/partner/marketing/badge.ashx?h=433&iar=0&w=650&la=en&hash=3A975F567D22971AE8C1231FDB26A901" width="250" height="150" alt="image"/></a>
 </div>
</footer>
    



