
@{
    ViewData["Title"] = "News5";
}

<div class="row featurette">
      <div>
   
        <h2 style="margin-left:10em;margin-right:10em;">SeerBI at Maritime Innovation Week</h2>
        <p style="margin-left:20em;margin-right:20em;">SeerBI were delighted to attend and exhibit at Maritime innovation week 2022 hosted by The Port of Tyne as a part of London Tech Week. The event was spread over 4 days, two days hosted at The Port Of Tyne 2050 Innovation Hub and two days in London at Level 39 Canary Wharf. <br />

The week brought together the best in class from both inside and outside the maritime sector to bring together ideas in order to drive innovation forward in the maritime sector, something we here at SeerBI are all about..<br /></p>
       
      </div>
      </div>
      <div style="margin-left:20em;margin-right:20em;">
        <img src="https://i0.wp.com/seerbi.uk/wp-content/uploads/2022/06/IMG_20220616_152142.jpg?resize=1024%2C768&ssl=1" style="width:100%">
       </div>

 <p style="margin-left:20em;margin-right:20em;">Two members of our leadership team Hannah Stothard and Owain Brennan attended the weeks events and manned the exhibition giving attendees a demo of our machine learning computer vision solutions as well as showcasing our edge computing and data dashboard solutions. <br />

The event also gave the team the opportunity to collaborate with leaders in the maritime space to see where our technology can fit further into ports and in edge cases for maritime specialization. The team got to hear from and speak to members from the UK Department for Transport, Port of Belfast, UK Major Ports Group and more. . <br></p>
<div style="margin-left:20em;margin-right:20em;">
  <img src="https://i0.wp.com/seerbi.uk/wp-content/uploads/2022/06/20220613_092437-scaled.jpg?resize=1024%2C485&ssl=1" style="width:100%">
</div>


<p style="margin-left:20em;margin-right:20em;">Maritime Innovation Week challenged traditional approaches and showcased the very best of Industry 4.0 thinking and action for maritime applications. The event brought together some of the most innovative minds from both inside and outside the maritime, to provide insights and collaboration opportunities across many of the industry’s most pressing topics.<br />

The case for disruptive innovation has never been more compelling. With a clear opportunity to become cleaner, smarter, more efficient, data-driven, innovative and sustainable, our industry can only achieve more and go faster by working together.<br />
</p><br>
 <h2 style="margin-left:10em;margin-right:10em;">Different theme for each day</h2>
 <p style="margin-left:20em;margin-right:20em;">Clean Maritime Innovation – showcasing ongoing developments in decarbonisation whilst delivering cross industry insights and collaboration opportunities to drive the net zero agenda.<br />
Fit for the Future – exploring the digital skills required to thrive in the maritime industry of the future.<br />
Investing in Maritime’s Digital Future – highlighting the role of digital innovation in the Green Industrial Revolution and in positioning the UK as a world leader within the maritime industry.<br />
Learning from the Cutting Edge – Sharing insights from those continuously on the cutting edge of technology on making space for R&D, fostering innovation, and tackling technology transfer. <br />

At SeerBI we were delighted with the opportunity to attend and exhibit at the event giving us an opportunity to collaborate and make new connections in and outside of maritime.<br />

If you are interested in innovating in the maritime sector or want to explore the use of machine learning and data analysis to build value and unlock insights let us know and unlock your data.<br />




</p><br>



<div style="margin-left:34em;margin-right:34em;">
    <p><a class="btn btn-secondary" href="https://localhost:7172/Home/privacy">Unlock Your Data</a></p>
 </div><br />
 <div style="margin-left:34em;margin-right:34em;">
     <a href="https://www.facebook.com" target="_blank"><img src="https://blog-assets.hootsuite.com/wp-content/uploads/2018/09/f-ogo_RGB_HEX-58.png" alt="image"/></a>
     <a href="https://www.twitter.com" target="_blank"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdQWj-ZwDEcGFtiOveMRcEEO_CZfjxKIR9IXkl1a9FuA&s" width="60" height="60" alt="image" /></a>
     <a href="https://www.linkedin.com" target="_blank"><img src="https://blog-assets.hootsuite.com/wp-content/uploads/2018/09/In-2C-54px-R.png" alt="image"/></a><br />
 </div><br />







  <footer>
     <div>
      <img src="https://i0.wp.com/seerbi.uk/wp-content/uploads/2021/10/Logo-2-Light2.png?resize=165%2C93&ssl=1" /> 
     </div><br />
  <p>Victoria House, Victoria Road, Middlesbrough, UK</p>
  <p>+447928510731</p>
  <p>info@seerbi.uk</p>
  <div>
     <a href="https://localhost:7172/Home/Index">Home</a><br />
     <a href="https://localhost:7172/Business_Intelligence/Index">Business Intelligence</a><br />
     <a href="https://localhost:7172/Machine_Learning/Index">Machine Learning</a><br />
     <a href="https://localhost:7172/Machine_Learning/ComputerVision">Computer Vision</a><br />
     <a href="https://localhost:7172/Machine_Learning/NLP">Natural Language Processing (NLP)</a><br />
     <a href="https://localhost:7172/News/Index">News</a><br />  
 </div>
 <div>
     <a href="https://www.nvidia.com/en-gb/" target="_blank"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmCS_rRaaV2iNoi4ygd3AOm7okA7JIEliFuIsT6qvP9Q&s" width="250" height="150" alt="image"/></a>
     <a href="https://www.microsoftpartnercommunity.com/" target="_blank"><img src="https://partner.microsoft.com/-/media/mssc/mpn/partner/marketing/badge.ashx?h=433&iar=0&w=650&la=en&hash=3A975F567D22971AE8C1231FDB26A901" width="250" height="150" alt="image"/></a>
 </div>
</footer>
    



