
@{
    ViewData["Title"] = "News9";
}

<div class="row featurette">
      <div>
   
        <h2 style="margin-left:10em;margin-right:10em;">SeerBI Joins the Port of Tyne 2050 Innovation Hub</h2>
        <p style="margin-left:20em;margin-right:20em;">We are excited to announce we have recently joined the Port of Tyne 2050 Innovation hub. This partnership allows us to access a series of sessions and opportunities to collaborate with both the Port of Tyne and other Innovative North East-based technology companies.<br />

The goal of the 2050 Maritime Innovation Hub is to inspire partners to collaborate to develop solutions to technological challenges facing the maritime sector and the wider logistics industry both nationally and globally. <br />

The 2050 Maritime Innovation Hub acts as a catalyst for sharing ideas, harnessing research and development, advancing technology and tackling shared challenges.<br />

Fully aligned with the Government’s Maritime 2050 Strategy, the Maritime 2050 Innovation Hub works closely with the Department for Transport and MarRI-UK to ensure that it delivers for the benefit of the maritime sector as a whole. <br /> </p>
       
      </div>
      </div>
  <div class="slideshow-container">

<div class="mySlides">
  <div class="numbertext">1 / 3</div>
  <img src="https://i0.wp.com/seerbi.uk/wp-content/uploads/2022/04/Port_TYne_2050.png?fit=1920%2C1080&ssl=1" style="width:100%">

</div>

<div class="mySlides">
  <div class="numbertext">2 / 3</div>
  <img src="https://i0.wp.com/seerbi.uk/wp-content/uploads/2022/03/Untitled-design.png?fit=2880%2C1620&ssl=1" style="width:100%">
 
</div>

<div class="mySlides">
  <div class="numbertext">3 / 3</div>
  <img src="https://i0.wp.com/seerbi.uk/wp-content/uploads/2022/03/ships-communication-network-concept-1024x576-1.jpg?fit=1024%2C576&ssl=1" style="width:100%">

</div>

</div>
<br>

<div style="text-align:center">
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
</div>

<script>
let slideIndex = 0;
showSlides();

function showSlides() {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  let dots = document.getElementsByClassName("dot");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";  
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}    
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
  setTimeout(showSlides, 3000); // Change image every 3 seconds
}
</script>

 
 <p style="margin-left:20em;margin-right:20em;">The UK Governments’ 2050 maritime strategy was set in 2019 and aims to make the UK competitive in the global maritime landscape.<br />

This strategy sets out the government’s vision and ambitions for the future of the British maritime sector. Maritime 2050 is about anticipating the challenges and opportunities ahead and recognising the UK’s strengths so we are well placed to capitalise on them.<br />

The strategies ambitions and goals will be achieved by focusing on the following 7 themes:.<br></p>
<ul type="dot">  
              <li><strong>UK competitive advantage</strong>  </li>
              <li><strong>technology</strong>  </li>
              <li> <strong>people</strong> </li>
              <li> <strong>environment</strong> </li>
              <li> <strong>infrastructure</strong> </li>
              <li> <strong>trade</strong> </li>
              <li> <strong>security</strong> </li>
        </ul>
<p style="margin-left:20em;margin-right:20em;">Short, medium and long-term recommendations were identified under each theme.<br />

The delivery of the vision and recommendations in Maritime 2050 are supported by a series of thematic route maps. These set out the steps government and industry will take now and in the coming years to achieve the ambitions of our strategy in greater detail.<br />

Route maps covering trade and technology and innovation were published with the strategy. The people route map was added 7 September 2019.<br />

This strategy was launched on 24 January 2019. The event speeches ‘Working together for a thriving maritime sector’ and ‘Boosting diversity in the maritime industry’ are available.<br></p>
<div style="margin-left:20em;margin-right:20em;">
  <img src="https://i0.wp.com/seerbi.uk/wp-content/uploads/2022/04/112-large-eba1b33bd4ffd336bd3f84bc34679494.jpg?w=1000&ssl=1" style="width:100%">
</div>




<p style="margin-left:20em;margin-right:20em;">The Port of Tyne Maritime Innovation Hub’s Innovation for Growth Programme for SMEs in the North East of England is for entrepreneurial leaders of innovative businesses interested in connecting directly with maritime innovation, operations and environmental expertise, academic researchers and like-minded peers to develop solutions for port and supply chain logistics challenges.<br />


It is specifically aimed at helping businesses to develop new routes to market entry at this transformational time in the maritime sector. By creating the space to innovate and providing direct access to decision-makers at Port of Tyne and other ports, will also support the further
development of a resilient, sustainable maritime innovation ecosystem in the North East of England, especially for businesses in the digital, environmental and data sectors.<br />


Throughout April and May 2022 Port of Tyne will facilitate a series of interactive, action-focused ‘Innovation Hothouses’ to share the ambitions,
opportunities and challenges that Ports are facing with a particular focus on data, digital and decarbonisation. The programme will actively support the ideation, development and testing of potential new solutions to these challenges. <br /></p>
 
<div style="margin-left:20em;margin-right:20em;">
  <img src="https://i0.wp.com/seerbi.uk/wp-content/uploads/2022/04/1649237909078.jpg?resize=1024%2C683&ssl=1" style="width:100%">
</div>
<p style="margin-left:20em;margin-right:20em;">At SeerBI, we are excited to be a part of the strategy and further explore the challenges the maritime sector faces to apply our data and machine learning expertise to solve real industry problems. We also hope our past expertise in the maritime sector can help others on the programme to unlock the potential of the UK maritime sector. <br /></p>
 

<div style="margin-left:34em;margin-right:34em;">
    <p><a class="btn btn-secondary" href="https://localhost:7172/Home/privacy">Unlock Your Data</a></p>
 </div><br />
 <div style="margin-left:34em;margin-right:34em;">
     <a href="https://www.facebook.com" target="_blank"><img src="https://blog-assets.hootsuite.com/wp-content/uploads/2018/09/f-ogo_RGB_HEX-58.png" alt="image"/></a>
     <a href="https://www.twitter.com" target="_blank"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdQWj-ZwDEcGFtiOveMRcEEO_CZfjxKIR9IXkl1a9FuA&s" width="60" height="60" alt="image" /></a>
     <a href="https://www.linkedin.com" target="_blank"><img src="https://blog-assets.hootsuite.com/wp-content/uploads/2018/09/In-2C-54px-R.png" alt="image"/></a><br />
 </div><br />







  <footer>
     <div>
      <img src="https://i0.wp.com/seerbi.uk/wp-content/uploads/2021/10/Logo-2-Light2.png?resize=165%2C93&ssl=1" /> 
     </div><br />
  <p>Victoria House, Victoria Road, Middlesbrough, UK</p>
  <p>+447928510731</p>
  <p>info@seerbi.uk</p>
  <div>
     <a href="https://localhost:7172/Home/Index">Home</a><br />
     <a href="https://localhost:7172/Business_Intelligence/Index">Business Intelligence</a><br />
     <a href="https://localhost:7172/Machine_Learning/Index">Machine Learning</a><br />
     <a href="https://localhost:7172/Machine_Learning/ComputerVision">Computer Vision</a><br />
     <a href="https://localhost:7172/Machine_Learning/NLP">Natural Language Processing (NLP)</a><br />
     <a href="https://localhost:7172/News/Index">News</a><br />  
 </div>
 <div>
     <a href="https://www.nvidia.com/en-gb/" target="_blank"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmCS_rRaaV2iNoi4ygd3AOm7okA7JIEliFuIsT6qvP9Q&s" width="250" height="150" alt="image"/></a>
     <a href="https://www.microsoftpartnercommunity.com/" target="_blank"><img src="https://partner.microsoft.com/-/media/mssc/mpn/partner/marketing/badge.ashx?h=433&iar=0&w=650&la=en&hash=3A975F567D22971AE8C1231FDB26A901" width="250" height="150" alt="image"/></a>
 </div>
</footer>
    



