
@{
    ViewData["Title"] = "Contact";
}
<br />
<div class="row featurette">
      <div>
   
        <h1 >Contact us on our email address or phone number</h1>
       
      </div>
      </div>
      <div >
        <img src="https://i0.wp.com/seerbi.uk/wp-content/uploads/2021/10/Logo-2-Light2.png?resize=165%2C93&ssl=1" style="width:100%"><br />
       </div><br />

<div style="margin-left:34em;margin-right:34em;">
    <p><a class="btn btn-secondary" href="https://localhost:7172/Home/privacy">Unlock Your Data</a></p>
 </div><br />
 <div style="margin-left:34em;margin-right:34em;">
     <a href="https://www.facebook.com" target="_blank"><img src="https://blog-assets.hootsuite.com/wp-content/uploads/2018/09/f-ogo_RGB_HEX-58.png" alt="image"/></a>
     <a href="https://www.twitter.com" target="_blank"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdQWj-ZwDEcGFtiOveMRcEEO_CZfjxKIR9IXkl1a9FuA&s" width="60" height="60" alt="image" /></a>
     <a href="https://www.linkedin.com" target="_blank"><img src="https://blog-assets.hootsuite.com/wp-content/uploads/2018/09/In-2C-54px-R.png" alt="image"/></a><br />
 </div><br />


  <footer>
  <h2>Victoria House, Victoria Road, Middlesbrough, UK</h2>
  <h2>+447928510731</h2>
  <h2>info@seerbi.uk</h2>
  <div>
     <a href="https://localhost:7172/Home/Index">Home</a><br />
     <a href="https://localhost:7172/Business_Intelligence/Index">Business Intelligence</a><br />
     <a href="https://localhost:7172/Machine_Learning/Index">Machine Learning</a><br />
     <a href="https://localhost:7172/Machine_Learning/ComputerVision">Computer Vision</a><br />
     <a href="https://localhost:7172/Machine_Learning/NLP">Natural Language Processing (NLP)</a><br />
     <a href="https://localhost:7172/News/Index">News</a><br />  
 </div>
 <div>
     <a href="https://www.nvidia.com/en-gb/" target="_blank"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmCS_rRaaV2iNoi4ygd3AOm7okA7JIEliFuIsT6qvP9Q&s" width="250" height="150" alt="image"/></a>
     <a href="https://www.microsoftpartnercommunity.com/" target="_blank"><img src="https://partner.microsoft.com/-/media/mssc/mpn/partner/marketing/badge.ashx?h=433&iar=0&w=650&la=en&hash=3A975F567D22971AE8C1231FDB26A901" width="250" height="150" alt="image"/></a>
 </div>
</footer>
    


