@{
    ViewData["Title"] = "Home Page";
}

 <body bgcolor="#000000">
 <h1 class="h1 text-dark">We Save Organisations Time<br>And Money Using <br>Award Winning<br> Data Science</h1>
 <p class="text-dark pb-4"><strong>Providing Busines Intellience, machine Learning, Artificial Intellience & Agile Development methods to create actionable solutions, and make industry more efficient with an award winning team.</strong></p>
  
   
 <div>
     <p><a class="btn btn-secondary" href="https://localhost:7172/Home/privacy">Unlock Your Data</a></p>
     <a href="https://www.nvidia.com/en-gb/" target="_blank"><img src="https://i0.wp.com/seerbi.uk/wp-content/uploads/2022/01/nvidia-inception-program-badge-rgb-for-screen.png?resize=300%2C132&ssl=1"width="400" height="200" alt="image" /></a>
     <a href="https://www.microsoftpartnercommunity.com/" target="_blank"><img src="https://partner.microsoft.com/-/media/mssc/mpn/partner/marketing/badge.ashx?h=433&iar=0&w=650&la=en&hash=3A975F567D22971AE8C1231FDB26A901"width="400" height="200" alt="image" /></a>
 </div><br /><br />
 <div>
     <a href="https://www.facebook.com" target="_blank"><img src="https://blog-assets.hootsuite.com/wp-content/uploads/2018/09/f-ogo_RGB_HEX-58.png" alt="image"/></a>
     <a href="https://www.twitter.com" target="_blank"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdQWj-ZwDEcGFtiOveMRcEEO_CZfjxKIR9IXkl1a9FuA&s" width="60" height="60" alt="image" /></a>
     <a href="https://www.linkedin.com" target="_blank"><img src="https://blog-assets.hootsuite.com/wp-content/uploads/2018/09/In-2C-54px-R.png" alt="image"/></a>
 </div><br />
 </body>








@*<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

        <h2 class="fw-normal">Heading</h2>
        <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

        <h2 class="fw-normal">Heading</h2>
        <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

        <h2 class="fw-normal">Heading</h2>
        <p>And lastly this, the third column of representative placeholder content.</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    </div>
*@


   

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
         <p1><strong>DATA DASHBOARDS</strong></p1>
        <h1 class="featurette-heading fw-normal lh-1">Visualise your business with our dashboards.</h1>
        <p class="lead"><strong>Using tried an tested data analytics and visualisation tools we can help you to understand your business and unlock unseen insights to become a data driven company and lead into a digital future.</strong></p>
         <ul type="dot">  
              <li><strong>Visualisation</strong>  </li>
              <li><strong>Analytics</strong>  </li>
              <li> <strong>Data Exploration</strong> </li>
        </ul>
        <p><a class="btn btn-lg btn-primary" href="https://localhost:7172/Business_Intelligence/Index">Learn More</a></p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="https://i0.wp.com/seerbi.uk/wp-content/uploads/2021/12/stephen-dawson-qwtCeJ5cLYs-unsplash-scaled.jpg?resize=1536%2C1105&ssl=1" width="500" height="500" alt="image" />
        
      </div>
    </div><br /> <br />

    

    <div class="row featurette">
      <div class="col-md-7">
          <p1><strong>MACHINE LEARNING</strong></p1>
        <h2 class="featurette-heading fw-normal lh-1">Use your data for much more.</h2>
        <p class="lead"><strong>By applying AI & Machine Learning methods we can help unlock your data with computer vision , natural language processing and predicion techniques.</strong></p>
         <p><a class="btn btn-lg btn-primary" href="https://localhost:7172/Machine_Learning/Index">Learn More</a></p>
      </div>
      <div class="col-md-5">
        <img src="https://i0.wp.com/seerbi.uk/wp-content/uploads/2021/10/fatos-bytyqi-Agx5_TLsIf4-unsplash-scaled.jpg?resize=1536%2C1024&ssl=1" width="500" height="500" alt="image" />

      </div>
    </div><br /> <br />

  

    <div class="row featurette">
      <div>
          <p1><strong>MARITIME</strong></p1>
        <h2 class="featurette-heading fw-normal lh-1">We are maritime data specialists.</h2>
        <p class="lead"><strong>We work with ports and shipping agents across the UK to make data integration seamless for faster decisons, higher efficiency and smarter ports. We also have ongoing machine learning research to achieve Net Zero in Maritime.</strong></p>
         <p><a class="btn btn-lg btn-primary" href="https://localhost:7172/Maritime/Index">Net Zero In Maritime</a></p>
      </div><br /> <br />
     
  

    <div class="row featurette">
      <div class="col-md-7">
          <p1><strong>MULTI PLATFORM DEVELOPEMENT</strong></p1>
        <h2 class="featurette-heading fw-normal lh-1">Your data delivered on an interactive format.</h2>
        <p class="lead"><strong>We supply customs and bespoke mobile and applications for your machine learning  & artificial intelligence models in an easy to use an fully customisable environment.</strong></p>
       
      </div>
      <div class="col-md-5">
          <img src="https://i0.wp.com/seerbi.uk/wp-content/uploads/2021/12/christian-wiediger-70ku6P7kgmc-unsplash-scaled.jpg?resize=1536%2C1024&ssl=1" width="500" height="500" alt="image" />

      </div>
      <br /> <br />
    </div>

  


    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Our Service Packages</h1>
    </div>

    </div class="container-fluid">
      <div class="card-deck d-flex justify-content-center">
        <div class="col-xl">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal text-center">BIAAS</h4>
          </div>
          <div class="card d-flex">
            <h1 class="card-title pricing-card-title">Business Intelligence as a Service</h1><hr />
            <ul type="dot">
              <li><strong>30 Hours of Support</strong></li>
              <li><strong>Data Consultation</strong></li>
              <li><strong>10 Data Dashboards</strong></li>
              <li><strong>Within 24 Hour Response Time</strong></li>
              <li><strong><small class="text-muted"> Sector Specific Insights</small></strong></li>
              <li><strong><small class="text-muted"> Job Automation</small></strong></li>
              <li><strong><small class="text-muted"> Data Pipeline Management</small></strong></li>
              <li><strong><small class="text-muted"> Bespoke Machine Learning / AI</small></strong></li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-outline-primary">Select Package</button>
          </div>
        </div>
        <div class="col-xl">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal text-center">DAAAS</h4>
          </div>
          <div class="card d-flex">
            <h1 class="card-title pricing-card-title">Data Analytics as a Service</h1><hr />
            <ul type="dot">
              <li><strong>50 Hours of Support</strong></li>
              <li><strong>Data Consultation</strong></li>
              <li><strong>25 Data Dashboards</strong></li>
              <li><strong>Same day Response Time</strong></li>
              <li><strong> Sector Specific Insights</strong></li>
              <li><strong>Job Automation</strong></li>
              <li><strong><small class="text-muted"> Data Pipeline Management</small></strong></li>
              <li><strong><small class="text-muted"> Bespoke Machine Learning / AI</small></strong></li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-outline-primary">Select Package</button>
          </div>
        </div>
        <div class="col-xl">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal text-center">DSAAS</h4>
          </div>
          <div class="card d-flex">
            <h1 class="card-title pricing-card-title">Data Science as a Service</h1><hr />
            <ul type="dot">
              <li><strong>100+ Hours of Support</strong></li>
              <li><strong>Data Consultation</strong></li>
              <li><strong>Unlimited Data Dashboards</strong></li>
              <li><strong>Within 5 Hour Response Time</strong></li>
              <li><strong>Sector Specific Insights</strong></li>
              <li><strong> Job Automation</strong></li>
              <li><strong> Data Pipeline Management</strong></li>
              <li><strong> Bespoke Machine Learning / AI</strong></li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-outline-primary">Select Package</button>
          </div>
        </div>
      </div>
      <div>
     <a href="https://www.nvidia.com/en-gb/" target="_blank"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmCS_rRaaV2iNoi4ygd3AOm7okA7JIEliFuIsT6qvP9Q&s" /></a>
     <a href="https://www.microsoftpartnercommunity.com/" target="_blank"><img src="https://partner.microsoft.com/-/media/mssc/mpn/partner/marketing/badge.ashx?h=433&iar=0&w=650&la=en&hash=3A975F567D22971AE8C1231FDB26A901" /></a>
     <a href="https://aws.amazon.com/partners/" target="_blank"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQiLiZ7ZYVuWsNB7WGEDfJX7CIbI3t_hlfYnOFj5qIxqA&s" /></a>
     </div>

      <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-10">Our Clients</h1>
      </div>
    

    <div class="container">

     @*  <div class="mySlides">
        
       <img src="https://i0.wp.com/seerbi.uk/wp-content/uploads/2022/04/Port_TYne_2050.png?fit=1920%2C1080&ssl=1" width="300" height="300" alt="image" >
   
     </div>

     <div class="mySlides">
    
     <img src="https://i0.wp.com/seerbi.uk/wp-content/uploads/2022/07/MconnectLogo.png?fit=1920%2C1080&ssl=1" width="300" height="300" alt="image" >
    
       </div>

      <div class="mySlides">
      
       <img src="https://i0.wp.com/seerbi.uk/wp-content/uploads/2022/10/Ecis.png?fit=1920%2C1080&ssl=1" width="300" height="300" alt="image"  >
     
       </div>
       <div class="mySlides">
      
       <img src="https://i0.wp.com/seerbi.uk/wp-content/uploads/2022/09/NetZero.png?fit=1920%2C1080&ssl=1" width="300" height="300" alt="image"  >
     
       </div>
       <div class="mySlides">
      
       <img src="https://i0.wp.com/seerbi.uk/wp-content/uploads/2022/07/CooteoGrady.png?fit=1920%2C1080&ssl=1" width="300" height="300" alt="image"  >
     
       </div>
       <div class="mySlides">
      
       <img src="https://i0.wp.com/seerbi.uk/wp-content/uploads/2022/03/Untitled-design-2.png?fit=1920%2C1080&ssl=1" width="300" height="300" alt="image"  >
     
       </div>
       <div class="mySlides">
      
       <img src="https://i0.wp.com/seerbi.uk/wp-content/uploads/2022/03/Untitled-design-4.png?fit=2880%2C1620&ssl=1" width="300" height="300" alt="image"  >
     
       </div>
       <div class="mySlides">
      
       <img src="https://i0.wp.com/seerbi.uk/wp-content/uploads/2022/05/nhs.png?fit=1920%2C1080&ssl=1" width="300" height="300" alt="image"  >
     
       </div>
       <div class="mySlides">
      
       <img src="https://i0.wp.com/seerbi.uk/wp-content/uploads/2022/12/CasperCustom.png?fit=1920%2C1080&ssl=1" width="300" height="300" alt="image"  >
     
       </div>
*@


   <div class="mySlides">
<table>
<tr>
  <td>
  <img src="https://i0.wp.com/seerbi.uk/wp-content/uploads/2022/04/Port_TYne_2050.png?fit=1920%2C1080&ssl=1" width="300" height="300" alt="image" >
   
  </td>
  <td>
  <img src="https://i0.wp.com/seerbi.uk/wp-content/uploads/2022/07/MconnectLogo.png?fit=1920%2C1080&ssl=1" width="300" height="300" alt="image" >
    
  </td>
  <td>
   <img src="https://i0.wp.com/seerbi.uk/wp-content/uploads/2022/10/Ecis.png?fit=1920%2C1080&ssl=1" width="300" height="300" alt="image"  >
     
  </td>
  <td>
  <img src="https://i0.wp.com/seerbi.uk/wp-content/uploads/2022/09/NetZero.png?fit=1920%2C1080&ssl=1" width="300" height="300" alt="image"  >
     
  </td>
  </tr>
  </table>
</div>
      </div>
         <br>

         <div style="text-align:center">
                <span class="dot"></span> 
                <span class="dot"></span> 
                <span class="dot"></span>
                <span class="dot"></span> 
                <span class="dot"></span> 
                <span class="dot"></span> 
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
        </div>

        <script>
           let slideIndex = 0;
           showSlides();

           function showSlides() 
           {
              let i;
              let slides = document.getElementsByClassName("mySlides");
              let dots = document.getElementsByClassName("dot");
              for (i = 0; i < slides.length; i++) {
              slides[i].style.display = "none";  
           }
           slideIndex++;
              if (slideIndex > slides.length) {slideIndex = 1}    
              for (i = 0; i < dots.length; i++) 
              {
              dots[i].className = dots[i].className.replace(" active", "");
              }
              slides[slideIndex-1].style.display = "block";  
              dots[slideIndex-1].className += " active";
              setTimeout(showSlides, 2000); // Change image every 2 seconds
                                }
        </script>

 <footer>
     <div>
      <img src="https://i0.wp.com/seerbi.uk/wp-content/uploads/2021/10/Logo-2-Light2.png?resize=165%2C93&ssl=1" /> 
     </div><br />
  <p>Victoria House, Victoria Road, Middlesbrough, UK</p>
  <p>+447928510731</p>
  <p>info@seerbi.uk</p>
  <div>
     <a href="https://localhost:7172/Home/Index">Home</a><br />
     <a href="https://localhost:7172/Business_Intelligence/Index">Business Intelligence</a><br />
     <a href="https://localhost:7172/Machine_Learning/Index">Machine Learning</a><br />
     <a href="https://localhost:7172/Machine_Learning/ComputerVision">Computer Vision</a><br />
     <a href="https://localhost:7172/Machine_Learning/NLP">Natural Language Processing (NLP)</a><br />
     <a href="https://localhost:7172/News/Index">News</a><br />  
 </div>
 <div>
     <a href="https://www.nvidia.com/en-gb/" target="_blank"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmCS_rRaaV2iNoi4ygd3AOm7okA7JIEliFuIsT6qvP9Q&s" width="250" height="150" alt="image"/></a>
     <a href="https://www.microsoftpartnercommunity.com/" target="_blank"><img src="https://partner.microsoft.com/-/media/mssc/mpn/partner/marketing/badge.ashx?h=433&iar=0&w=650&la=en&hash=3A975F567D22971AE8C1231FDB26A901" width="250" height="150" alt="image"/></a>
 </div>
</footer>
    
  