@{
    ViewData["Title"] = "Privacy Policy";
}
 <body bgcolor="#000000">
 <h1 class="h1 text-dark">SeerBI as a <br />Service</h1>

</body>
<div>
    
    <h1>Data<br /><strong>Services</strong></h1>
    <p><strong>We have packages available to suit your needs whether you are just starting your data journey or you are ready to disrupt your market.</strong></p>

</div>
 
      <div class="card-deck d-flex justify-content-center">
        <div class="col-xl">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal text-center">BIAAS</h4>
          </div>
          <div class="card d-flex">
            <h1 class="card-title pricing-card-title">Business Intelligence as a Service</h1><hr />
            <ul type="dot">
              <li><strong>30 Hours of Support</strong></li>
              <li><strong>Data Consultation</strong></li>
              <li><strong>10 Data Dashboards</strong></li>
              <li><strong>Within 24 Hour Response Time</strong></li>
              <li><strong><small class="text-muted"> Sector Specific Insights</small></strong></li>
              <li><strong><small class="text-muted"> Job Automation</small></strong></li>
              <li><strong><small class="text-muted"> Data Pipeline Management</small></strong></li>
              <li><strong><small class="text-muted"> Bespoke Machine Learning / AI</small></strong></li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-outline-primary">Select Package</button>
          </div>
        </div>
        <div class="col-xl">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal text-center">DAAAS</h4>
          </div>
          <div class="card d-flex">
            <h1 class="card-title pricing-card-title">Data Analytics as a Service</h1><hr />
            <ul type="dot">
              <li><strong>50 Hours of Support</strong></li>
              <li><strong>Data Consultation</strong></li>
              <li><strong>25 Data Dashboards</strong></li>
              <li><strong>Same day Response Time</strong></li>
              <li><strong> Sector Specific Insights</strong></li>
              <li><strong>Job Automation</strong></li>
              <li><strong><small class="text-muted"> Data Pipeline Management</small></strong></li>
              <li><strong><small class="text-muted"> Bespoke Machine Learning / AI</small></strong></li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-outline-primary">Select Package</button>
          </div>
        </div>
        <div class="col-xl">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal text-center">DSAAS</h4>
          </div>
          <div class="card d-flex">
            <h1 class="card-title pricing-card-title">Data Science as a Service</h1><hr />
            <ul type="dot">
              <li><strong>100+ Hours of Support</strong></li>
              <li><strong>Data Consultation</strong></li>
              <li><strong>Unlimited Data Dashboards</strong></li>
              <li><strong>Within 5 Hour Response Time</strong></li>
              <li><strong>Sector Specific Insights</strong></li>
              <li><strong> Job Automation</strong></li>
              <li><strong> Data Pipeline Management</strong></li>
              <li><strong> Bespoke Machine Learning / AI</strong></li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-outline-primary">Select Package</button>
          </div>
        </div>
      </div><br /><br /><br />
 
 <footer>
     <div>
      <img src="https://i0.wp.com/seerbi.uk/wp-content/uploads/2021/10/Logo-2-Light2.png?resize=165%2C93&ssl=1" /> 
     </div><br />
  <p>Victoria House, Victoria Road, Middlesbrough, UK</p>
  <p>+447928510731</p>
  <p>info@seerbi.uk</p>
  <div>
     <a href="https://localhost:7172/Home/Index">Home</a><br />
     <a href="https://localhost:7172/Business_Intelligence/Index">Business Intelligence</a><br />
     <a href="https://localhost:7172/Machine_Learning/Index">Machine Learning</a><br />
     <a href="https://localhost:7172/Machine_Learning/ComputerVision">Computer Vision</a><br />
     <a href="https://localhost:7172/Machine_Learning/NLP">Natural Language Processing (NLP)</a><br />
     <a href="https://localhost:7172/News/Index">News</a><br />   
 </div>
 <div>
     <a href="https://www.nvidia.com/en-gb/" target="_blank"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmCS_rRaaV2iNoi4ygd3AOm7okA7JIEliFuIsT6qvP9Q&s" width="250" height="150" alt="image"/></a>
     <a href="https://www.microsoftpartnercommunity.com/" target="_blank"><img src="https://partner.microsoft.com/-/media/mssc/mpn/partner/marketing/badge.ashx?h=433&iar=0&w=650&la=en&hash=3A975F567D22971AE8C1231FDB26A901" width="250" height="150" alt="image"/></a>
 </div>
</footer>