@{
    ViewData["Title"] = "Privacy Policy";
}
 <body bgcolor="#000000">
 <h1 class="h1 text-dark">SeerBI as a <br />Service</h1>

</body>
<div>
    
    <pr>Data</pr>
    <h1><strong>Services</strong></h1>
    <p><strong>We have packages available to suit your needs whether you are just starting your data journey or you are ready to disrupt your market.</strong></p>

</div>
 
      <div class="card-deck d-flex justify-content-center">
        <div class="col-xl">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal text-center">BIAAS</h4>
          </div>
          <div class="card d-flex">
            <h1 class="card-title pricing-card-title">Business Intelligence as a Service</h1><hr />
            <ul type="dot">
              <li><strong>30 Hours of Support</strong></li>
              <li><strong>Data Consultation</strong></li>
              <li><strong>10 Data Dashboards</strong></li>
              <li><strong>Within 24 Hour Response Time</strong></li>
              <li><strong><small class="text-muted"> Sector Specific Insights</small></strong></li>
              <li><strong><small class="text-muted"> Job Automation</small></strong></li>
              <li><strong><small class="text-muted"> Data Pipeline Management</small></strong></li>
              <li><strong><small class="text-muted"> Bespoke Machine Learning / AI</small></strong></li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-outline-primary">Select Package</button>
          </div>
        </div>
        <div class="col-xl">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal text-center">DAAAS</h4>
          </div>
          <div class="card d-flex">
            <h1 class="card-title pricing-card-title">Data Analytics as a Service</h1><hr />
            <ul type="dot">
              <li><strong>50 Hours of Support</strong></li>
              <li><strong>Data Consultation</strong></li>
              <li><strong>25 Data Dashboards</strong></li>
              <li><strong>Same day Response Time</strong></li>
              <li><strong> Sector Specific Insights</strong></li>
              <li><strong>Job Automation</strong></li>
              <li><strong><small class="text-muted"> Data Pipeline Management</small></strong></li>
              <li><strong><small class="text-muted"> Bespoke Machine Learning / AI</small></strong></li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-outline-primary">Select Package</button>
          </div>
        </div>
        <div class="col-xl">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal text-center">DSAAS</h4>
          </div>
          <div class="card d-flex">
            <h1 class="card-title pricing-card-title">Data Science as a Service</h1><hr />
            <ul type="dot">
              <li><strong>100+ Hours of Support</strong></li>
              <li><strong>Data Consultation</strong></li>
              <li><strong>Unlimited Data Dashboards</strong></li>
              <li><strong>Within 5 Hour Response Time</strong></li>
              <li><strong>Sector Specific Insights</strong></li>
              <li><strong> Job Automation</strong></li>
              <li><strong> Data Pipeline Management</strong></li>
              <li><strong> Bespoke Machine Learning / AI</strong></li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-outline-primary">Select Package</button>
          </div>
        </div>
      </div><br /><br /><br />
      <div class="box">
          <p><strong>Have Any Questions?</strong></p>
          <h1 class"heading">FAQs</h1>
          <p class="lead"><strong>Data Science can be confusing at times so checkout out FAQ’s or contact us if you have any more specific questions</strong></p>
        
          <div class="faqs">
              <details>
                  <summary>Which Package Is Right For Me? </summary> 
                  <p class="text">Every business is unique and at it’s own unique point in their data journey from just starting up to running their own data centre, we have packages to suit all needs and if non of the options above suit you, contact us and we can design a service that is right for you. </p>
              </details>
              <details>
                  <summary>How Do You Deliver Your Services? </summary> 
                  <p class="text">Our services can be delivered bespoke to the organisations needs, this means if you would like your data dashboards developed in PowerBI, Tableau or built from scratch using custom software such as R Shiny or Python we adjust to your needs. The same goes for Machine Learning, we can deliver live in your organisation, on AWS, Azure platforms or build and host systems ourselves.  </p>
              </details>
              <details>
                  <summary>What If I Already Have BI or Data Solutions In My Organisation </summary> 
                  <p class="text">We work close wth your current IT or Data teams to ensure our solutions and services are fully integrated into organisations systems. Our solutions are built bespoke and agile to work with any current system or solution you have in place. </p>
              </details>
              <details>
                  <summary>What Kind of Data Can You Work With? </summary> 
                  <p class="text">Our Data Scientists are used to working with data from 1000’s of different sources from industry 4.0 IoT devices, operations, management, marketing, logisitics, geospatial, CRM and beyond. Whether from unstructured sources, APIs, Web Scraping, CCTV systems or more we have solutions to fit your needs. </p>
              </details>
              <details>
                  <summary>How Do I Know My Data is Safe? </summary> 
                  <p class="text">We ensure all of our proccesses are fully GDPR complient and are secure with the latest cyber security technology. For the most confidential data our teams are able to work on site so that data does not need to leave your premises and if cloud computing is used we only use services based in the country the data is already held. </p>
              </details>
              <details>
                  <summary>How Much Commitment is Required? </summary> 
                  <p class="text">We require a 3 month commitment to any of our services. This is to ensure we can provide value to your organisation. Both Business Intelligence and Machine Learning services need to be fully integrated and designed along with the buisness which requires at least a 3 month period to show real results.  </p>
              </details>
              <details>
                  <summary>How Do I Know If It Will Provide Value? </summary> 
                  <p class="text">Our teams work close by your management and technology teams to ensure all buisness intelligence provided is collected and tracked accuretly to fit your organisations unique KPIs and goals. The same is true for our Machine Learning services, we carry out tests and predictions to ensure the solution is right for your organisation.</p>
              </details>

          </div>
 </div><br /><br />


 
 <footer>
     <div>
      <img src="https://i0.wp.com/seerbi.uk/wp-content/uploads/2021/10/Logo-2-Light2.png?resize=165%2C93&ssl=1" /> 
     </div><br />
  <p>Victoria House, Victoria Road, Middlesbrough, UK</p>
  <p>+447928510731</p>
  <p>info@seerbi.uk</p>
  <div>
     <a href="https://localhost:7172/Home/Index">Home</a><br />
     <a href="https://localhost:7172/Business_Intelligence/Index">Business Intelligence</a><br />
     <a href="https://localhost:7172/Machine_Learning/Index">Machine Learning</a><br />
     <a href="https://localhost:7172/Machine_Learning/ComputerVision">Computer Vision</a><br />
     <a href="https://localhost:7172/Machine_Learning/NLP">Natural Language Processing (NLP)</a><br />
     <a href="https://localhost:7172/News/Index">News</a><br />   
 </div>
 <div>
     <a href="https://www.nvidia.com/en-gb/" target="_blank"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmCS_rRaaV2iNoi4ygd3AOm7okA7JIEliFuIsT6qvP9Q&s" width="250" height="150" alt="image"/></a>
     <a href="https://www.microsoftpartnercommunity.com/" target="_blank"><img src="https://partner.microsoft.com/-/media/mssc/mpn/partner/marketing/badge.ashx?h=433&iar=0&w=650&la=en&hash=3A975F567D22971AE8C1231FDB26A901" width="250" height="150" alt="image"/></a>
 </div>
</footer>