@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="rounded-3 px-md-5 text-center text-xl-start" style="background-color: #000000;">
 <h1 class="h1 text-light">We Save Organisations Time And Money Using Award Winning Data SCience</h1>
 <p class="text-light pb-4">Providing Busines Intellience, machine Learning, Artificial Intellience & Agile Development methods to create actionable solutions, and make industry more efficient with an award winning team.</p>
 <div class="d-flex flex-wrap justify-content-center justify-content-xl-start"><a class="btn-market btn-apple me-2 mb-2" href="#" role="button"><span class="btn-market-subtitle">Download on the</span><span class="btn-market-title">App Store</span></a><a class="btn-market btn-google mb-2" href="#" role="button"><span class="btn-market-subtitle">Download on the</span><span class="btn-market-title">Google Play</span></a></div>
 <div><img src="img/grocery/slider/slide01.jpg" alt="Image"></div>
 </div>
